@use 'variaveis';

.bar {
  background-image: linear-gradient(90deg, #333 5%, #181818 95%);
  box-shadow: 8px 5px 16px 0 rgba(0, 0, 0, .37);
  max-height: 80px;
  width: 91%;
  margin: 20px 5vw;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;

    @media (max-width:768px) {
      display: block;
      padding: 8px 7px;
    }

    &__logo {
      width: 300px;
      height: 34px;
      display: flex;
      align-items: center;

      @media (max-width:768px) {
      position: absolute;
      }

      img {
        height: 90%;
        padding-right: 15px;

        @media (max-width:768px) {
          height: 100px;
          padding-right: 0px;
          padding-top: 35px;
        }
      }

      &--information {
        @media (max-width:768px) {
          display: none;
        }
      }
    }



    &__links {
      display: flex;

      @media (max-width:768px) {
        display: block;
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:768px) {
          display: block;
          align-items: center;
          width: 240px;
          padding-left: 65px;
        }
        p{
          display: none;
          @media (max-width:768px) {
            display: block;
          }
        }



        span {
          font-size: 13px;
          color: variaveis.$corTextoPrincipal;
        }
      }
    }
  }
}