@use 'variaveis';

.cast {
  height: 70vh;
  padding: 0 5vw;
  padding-top: 50px;
  background: url("/src/images/mapa\ grand\ line.webp") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;

  &__branding {
    max-width: 90%;

    &--title {
      padding-bottom: 10px;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
  }

  &__characters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 50px;
    padding-bottom: 60px;
    justify-content: center;
    align-content: center;

    &__character {

      img {
        max-width: 220px;
        height: auto;
      }
    }
  }

  &__description {
    text-align: center;
    background-image: linear-gradient(90deg, #333 5%, #181818 95%);
    box-shadow: 8px 5px 16px 0 rgba(0, 0, 0, .37);

    p {
      font-size: 23px;
      text-shadow: none;
    }
  }

}