@use 'variaveis';

.episodios {
  height: 80vh;
  padding: 0 5vw;
  padding-top: 100px;

  &__branding {
    max-width: 800px;

    &--title {
      margin-bottom: 20px;
    }

    &--release {
      padding-bottom: 10px;

      p {
        font-weight: bold;
      }
    }

    &--description :first-child {
      padding-bottom: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 50px;
    padding-bottom: 20px;
    justify-content: center;
    align-content: center;

    &__item {
      max-width: 410px;
      padding-bottom: 20px;
      text-shadow: black 0.1em 0.1em 0.2em;

      &--title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
      }

      img {
        max-width: 100%;
      }
    }
  }
}