@use 'variaveis';

.episodios {
  height: 100vh;
  padding: 0 5vw;
  padding-top: 100px;
  margin-bottom: 350px;
  @media (max-width:768px) {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  &__branding {
    max-width: 800px;

    &--title {
      margin-bottom: 20px;
    }

    &--release {
      padding-bottom: 10px;

      p {
        font-weight: bold;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
    padding-bottom: 20px;
    justify-content: center;
    align-content: center;
    text-align: justify;
    max-width: 100%;
    @media (max-width:768px) {
      display: block;
    }

    &__item {
      max-width: 100%;
      padding-bottom: 20px;
      text-shadow: black 0.1em 0.1em 0.2em;

      &--title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
      }

      img {
        max-width: 100%;
      }
    }
  }
}