@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundoDark;
    z-index: 2;
    max-height: 56px;

    &__container {
        padding: 8px 0;
        display: flex;
        justify-content: space-between;
        margin: 0 3.6vw;

        @media (max-width:768px) {
            margin: 0 1vw;
            padding: 8px 5px;
        }
    }

    &__logo {
        width: 150px;
        height: 45px;
        justify-content: start;

        @media (max-width:768px) {
            margin-left: -50px;
            height: 40px;
        }

        img {
            height: 100%;
            width: 100%;
        }

    }

    &__links {
        display: flex;

        @media (max-width:768px) {
            .ilimitado {
                display: none;
            }
        }

        &__item {
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width:768px) {
                margin: 3px;
            }

            span {
                font-size: 13px;
                color: variaveis.$corTextoPrincipal;
            }
        }
    }

    .button {
        height: 33px;
    }
}