@use 'variaveis';

.hero {
  height: 43vw;
  text-align: center;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: hidden;

  @media (max-width:768px){
    height: 100vh;
}
  &__content {
    max-width: 732px;
    position: static;
    @media (max-width:768px){
      max-width: 300px;
      display: block;
    }

    video {
      position: static;
      top: 0;
      left: 0;
      object-fit: cover;

      @media (max-width:768px){
        max-width: 400px;
        display: none;
      }
    }
    img{
      display: block;
      max-width: 400px;
    }

    &__branding {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 600px;
      padding: 0 5vw;
      padding-top: 130px;
      max-width: 100%;

      @media (max-width:768px){
        width: 300px;
        padding-top: 230px;
        display: block;
        text-align: center;
      }

      &--logo {
        text-align: start;

        img {
          height: 182px;
          width: 800px;
          max-width: 732px;

          @media (max-width:768px){
          height: 100px;
          width: 400px;
          }
        }
      }

      &__details {
        margin-top: 50px;
        text-align: start;

        h1 {
          margin-bottom: 26px;
        }

        p {
          padding-top: 16px;
        }
      }
    }
  }
}